.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 5em;
    &__back {
        margin-right: 90%;
    }
    img {
        width: 200px;
    }
}